* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  border: 2px solid #000;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  position: relative;
}

.books {
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

.list li:not(:last-child)::after {
  border: 1px solid #000;
  border-width: 1px 1px 0 0;
  position: absolute;
  right: -25px;
  top: 0;
  height: 100%;
}

.date {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 50px;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.heading {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.book:nth-child(odd) {
  background: lightgray;
}

.remove {
  border: 2px solid #000;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.form h2 {
  margin: 0 auto;
  font-weight: bold;
  font-size: 2.5rem;
}

.form input {
  border: 2px solid #000;
  padding: 3px;
  width: 100%;
}

.form button {
  align-self: flex-end;
  border: 2px solid #000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-heading {
  font-size: 2.5rem;
}

.contact-details {
  font-size: 1.5rem;
}

.contact-details p:first-child {
  margin-bottom: 5px;
}

.contact-details p:nth-child(2) {
  margin-top: 0;
}

footer {
  border: 2px solid #000;
  font-size: 20px;
  font-weight: 700;
  padding: 0 30px;
  margin-top: auto;
}

.copy-footer {
  font-size: 2rem;
  font-weight: 700;
}

.add-book-form {
  width: 50%;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.list-active {
  color: blue;
}
